
li{
    display: inline; 
}


.user-id-wrapper {
   text-align: center; 
}


.password-wrapper {
   text-align: center;
   
}


.password-conteiner{
    display: inline-block;
}


.other-wrapper {
   height: 15px;
   text-align: center; 
}


.user-id {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}


.password-image{
    display: inline-block;
}


.login-panel {
    
   // padding: 150px;
    padding-top: 75px;
    position: relative;
    height: 250px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #46cbdb;
    border-radius: 10px;   
}


.login_background{
    
    background-image: url(../scss/images/login.jpg);
    background-repeat: no-repeat;
 
    min-height: 100vh;
    min-width: 100vh;
}


.apla {
    margin-top: 50px;
    border-radius: 10px;
}

.login-picture{   
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    margin: auto;
    margin-top: -125px;
    margin-bottom: 10px;
}


.logo {    
    height: 160px;
    width: 160px;
    margin-top: 50px;
    margin-left: 130px;
    border: 1px solid white;
    border-radius: 5px;
}


.other{
       display: inline-block;
}


.other-form {
        width: 150px;
        border-radius: 10px;
}


.password-form {
        width: 350px;
        border-radius: 10px;
}




